{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <section>
    <div class="row justify-content-between">
      <div class="d-flex flex-column gap-2 col-lg-5 mx-5 px-5">
        <h6>Halo, Saya</h6>
        <h1 class="fw-bold">{{ mentor.pengguna.nama }}</h1>
        <p>{{ mentor.bio }}</p>
        <div class="d-flex gap-3">
          <a
            class="btn btn-outline-primary px-4 fw-semibold"
            style="
              width: fit-content;
              border-radius: 14px;
              color: #2e90fa;
              background-color: transparent;
            "
            href="{{ kontak.instagram }}"
          >
            Instagram
          </a>
          <a
            class="btn btn-outline-primary px-4 fw-semibold"
            style="
              width: fit-content;
              border-radius: 14px;
              color: #2e90fa;
              background-color: transparent;
            "
            href="{{ kontak.linkedin }}"
          >
            LinkedIn
          </a>
        </div>
      </div>
      <div class="col-lg-5 position-relative" style="margin-bottom: 100px">
        <div class="position-relative" style="height: 459px">
          <img
            src="{{ mentor.pengguna.foto.url }}"
            alt="{{ mentor.pengguna.nama }}"
            class="rounded-5 object-fit-cover w-100"
            style="height: 459px"
          />
          <img
            src="{{ mentor.pengguna.foto.url }}"
            alt="{{ mentor.pengguna.nama }}"
            class="rounded-5 object-fit-cover position-absolute top-50 translate-middle-x end-50"
            style="height: 250.87px; width: 310px"
          />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="d-lg-flex gap-5 justify-content-between">
      <div class="d-flex flex-column gap-2 my-auto my-lg-auto mb-4">
        <h2 class="d-flex align-items-center gap-2">
          <div>Kelas Saya</div>
          <i class="bx bx-book-open" style="color: #1470ef"></i>
        </h2>
        <p>Tersedia {{ kelas_list.count }} pilihan kelas yang bisa kamu ikuti</p>
      </div>

      <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for kelas in kelas_list %}
        <div
          class="card p-4 d-flex flex-column gap-4"
          style="
            border-radius: 20px;
            width: 300px;
            box-shadow: 0px 4px 4px rgba(20, 112, 239, 0.4);
          "
        >
          <div
            style="background-color: #e0e2e7; width: 56px; height: 56px"
            class="rounded-2 d-flex align-items-center justify-content-center"
          >
            <img
              src="{% static 'assets/icons/folder.svg' %}"
              alt="Class Icon"
            />
          </div>
          <div>
            <p class="card-title fw-semibold" style="font-size: 20px">
              {{ kelas.nama_kelas }}
            </p>
            <p class="card-text">{{ kelas.deskripsi }}</p>
            <div class="d-flex gap-2 mt-2">
              <p
                class="px-4"
                style="
                  background-color: #dcfae6;
                  border-radius: 14px;
                  width: fit-content;
                "
              >
                {{ kelas.tipe_kelas}}
              </p>
            </div>
            <div class="mt-3 d-flex flex-column gap-3">
              <p class="card-text">
                Total Jadwal Tersedia <span>: {{ kelas.jumlah_jadwal }}</span>
              </p>
              <a
                href="{% url 'detailkelas' kelas.id %}"
                class="d-flex text-decoration-none align-items-center gap-2 fw-semibold"
                style="font-size: large"
              >
                <span>Pilih Kelas</span>
                <img
                  src="{% static 'assets/icons/chevron-right.svg' %}"
                  alt="Chevron Right Icon"
                />
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div class="mt-5 pt-3 d-lg-flex justify-content-between">
      <div class="d-flex flex-column gap-3">
        <div class="d-flex flex-column gap-3">
          <h3>
            Tentang Saya <i class="bx bx-user" style="color: #1470ef"></i>
          </h3>
          <div class="d-flex flex-wrap gap-3">
            <img
              src="{{ mentor.pengguna.foto.url }}"
              alt="{{ mentor.pengguna.nama }}"
              class="rounded-3 object-fit-cover"
              style="height: 133px; width: 125.91px"
            />
            <div class="my-auto">
              <div class="d-flex">
                <p class="" style="min-width: 120px">Nama</p>
                <span>: {{ mentor.pengguna.nama }}</span>
              </div>
              <div class="d-flex">
                <p class="" style="min-width: 120px">Jenis Kelamin</p>
                <span>: {{ mentor.jenis_kelamin }}</span>
              </div>
              <div class="d-flex">
                <p class="" style="min-width: 120px">Usia</p>
                <span>: {{ mentor.usia }}</span>
              </div>
              <div class="d-flex">
                <p class="" style="min-width: 120px">Domisili</p>
                <span>: {{ mentor.domisili }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column gap-3">
          <h3>
            Pendidikan <i class="bx bxs-school" style="color: #1470ef"></i>
          </h3>

          <div class="d-flex gap-3">
            <div class="my-auto fs-3" style="color: #667085">
              <i class="bx bx-buildings"></i>
            </div>
            {% for pengalaman in pengalaman_organisasi_list %}
            <div class="d-flex flex-column">
              <p style="color: #667085">
                <span class="fw-semibold text-black"
                  >{{ pengalaman.nama }}</span
                >
                - {{ pengalaman.tempat }}
              </p>
              <p style="color: #667085">{{ pengalaman.waktu }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div
        class="d-flex flex-column justify-content-center align-items-center mt-lg-0 mt-4"
      >
        <iframe
          src="{{ mentor.video_profile }}"
          class="rounded-5 object-fit-cover"
          style="width: 640px; height: 282px"
        ></iframe>
        <p>Video Profile Mentor</p>
      </div>
    </div>
  </section>

  <section>
    <div class="mt-5 pt-5">
      <div class="row">
        <div class="col-lg-5 d-flex flex-column gap-3">
          <h3>
            Pengalaman Kerja <i class="bx bx-stats" style="color: #1470ef"></i>
          </h3>
          <div class="timeline">
            {% for pengalaman in pengalaman_kerja_list %}
            <div class="timeline-item d-flex flex-column gap-2">
              <h5 style="color: #3d4350">
                <span class="fw-semibold text-black"
                  >{{ pengalaman.nama }}</span
                >
                - {{ pengalaman.tempat }}
              </h5>
              <div>
                <p>{{ pengalaman.waktu }}</p>
                <p>{{ pengalaman.keahlian }}</p>
                <p>Tailwind, Laravel</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-4 d-flex flex-column gap-3">
          <h3>
            Pengalaman Mengajar
            <i class="bx bx-stats" style="color: #1470ef"></i>
          </h3>
          <div class="timeline">
            {% for pengalaman in pengalaman_mengajar_list %}
            <div class="timeline-item d-flex flex-column gap-2">
              <h5 style="color: #3d4350">
                <span class="fw-semibold text-black"
                  >{{ pengalaman.nama }}
                </span>
                - {{ pengalaman.tempat }}
              </h5>
              <div>
                <p>{{ pengalaman.waktu }}</p>
                <p>{{ pengalaman.keahlian }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-3 d-flex flex-column gap-3">
          <h3>Skills <i class="bx bx-link" style="color: #1470ef"></i></h3>
          <div class="d-flex flex-wrap gap-3" style="padding-top: 20px">
            {% for skill in skills_list %}
            <div class="d-flex flex-column align-items-center text-center">
              <div
                style="
                  width: 70px;
                  height: 70px;
                  border: 2px solid #1470ef;
                  border-radius: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  src="{{ skill.skill.foto.url }}"
                  style="width: 50px; height: 50px"
                  alt="{{ skill.skill.nama }}"
                />
              </div>
              <div>{{ skill.skill.nama }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-column align-items-center gap-3">
      <h3>Proyek</h3>
      <div class="d-flex overflow-x-auto">
        {% for project in projects_list %}
        <div class="d-flex flex-column align-items-center">
          <img src="{{ project.foto.url }}" alt="{{ project.nama }}" />
          <p class="fs-4 fw-semibold" style="color: #1470ef">
            {{ project.nama }}
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div
      class="pt-5 d-flex justify-content-center align-items-center mx-5 px-5"
      style="margin-top: 100px"
    >
      <div class="row">
        <div class="col-lg-7 d-flex flex-column gap-3">
          <div>
            <h3>
              Mentoring yang
              <span style="color: #2e90fa">efektif</span> bukanlah tentang
              mentransfer pengetahuan, tetapi tentang
              <span style="color: #2e90fa">membangun hubungan.</span>
            </h3>
            <p>- Michael Bungay Stanier</p>
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex align-items-center gap-2">
              <div class="d-flex" style="color: #1470ef">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
              <span>5.0</span>
            </div>
            <p>Review Mentee</p>
          </div>
        </div>
        {% if penilaian_list %}
        <div class="col-lg-5 position-relative">
          {% for penilaian in penilaian_list %}
          <div
            class="card p-4 d-flex flex-column gap-4"
            style="
              border-radius: 20px;
              width: 500px;
              box-shadow: 0px 4px 4px rgba(20, 112, 239, 0.4);
              position: relative;
            "
          >
            <!-- <img
              src="{% static 'assets/images/photo1.jpg' %}"
              alt="Avatar"
              class="rounded-circle position-absolute top-0 start-0 translate-middle"
              style="
                width: 60px;
                height: 60px;
                border: 2px solid #fff;
                object-fit: cover;
                z-index: 1;
              "
            /> -->

            <div class="d-flex flex-column gap-3">
              <p class="fw-semibold fs-3">"{{ penilaian.komentar }}"</p>
              <div>
                <h5 class="fw-semibold">Mentee {{ mentor.pengguna.nama }}</h5>
                <!-- <h6 style="color: #667085">2 Mei 2022</h6> -->
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>

<style>
  .timeline {
    position: relative;
    padding: 20px 0;
  }
  .timeline::before {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 2px;
    left: 20px;
    border-left: 2px dashed #d9d9d9;
    margin: 0;
  }
  .timeline-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
  }
  .timeline-item::before {
    content: "";
    position: absolute;
    left: 11px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 5px solid #079455;
    border-radius: 50%;
    z-index: 1;
  }
  .timeline-item:last-child::before {
    border: none;
    background: #d9d9d9;
  }
</style>
{% endblock %}
